[submodule "notes"]
	path = notes
	url = https://github.com/Acture/obsidian-vault.git
	branch = project/wotr-homebrew
[submodule "external/wotr-testing"]
	path = external/wotr-testing
	url = https://github.com/Acture/wotr-testing.git
